/* App Container to Ensure Full Height and Scrollability */
.app-container {
  display: flex;
  min-height: 100vh; /* Full height of the viewport */
  overflow-y: auto; /* Allow vertical scrolling */
}

/* Dashboard Container */
.dashboard-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  flex-wrap: nowrap; /* Prevent items from wrapping */
  height: auto; /* Allow height to adapt to content */
}

/* Main Content Layout - Takes up 70% of the width */
.main-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70vw; /* Occupies 70% of the viewport width */
  flex: 1; /* Allows it to grow within its assigned width */
}

/* Snapshot Section - Takes up 30% of the width */
.snapshot-section {
  width: 30vw; /* Occupies 30% of the viewport width */
  background-color: #111;
  color: white;
  padding: 10px;
  border-radius: 20px;
  height: 100%; /* Fill the height of the viewport */
  text-align: center;
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Progress Section Cards */
.progress-section {
  background-color: #111;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.progress-section h2,
.progress-section .week-number {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Progress Cards Styling */
.progress-cards {
  display: flex;
  justify-content: space-around; /* Space evenly */
  align-items: center;
  width: 100%; /* Let it fill the available space */
  gap: 20px; /* Space between each card */
  padding-top: 20px;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

/* Snapshot Cards */
.snapshot-cards-wrapper {
  max-height: 100%; /* Allow it to fill available height */
  overflow-y: auto; /* Allow vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
  padding-right: 10px; /* Add padding to avoid cutting off the scrollbar */
}

/* Individual Progress Card Styling */
.progress-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; /* Adjusted margin for better layout */
  background-color: #1c1c1c; /* Consistent background color */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Snapshot Card Details */
.snapshot-card {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #303030;
  border-radius: 20px;
  width: 100%; /* Adjust to take full width */
  margin-bottom: 10px; /* Add spacing between cards */
}
