html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Kaku Gothic Std', sans-serif;
}

.background {
    width: 100%; /* Use full width of the viewport */
    height: 100%; /* Use full height of the viewport */
    position: relative;
    background-image: url('https://via.placeholder.com/1440x1024');
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.container {
    max-width: 800px; /* Set a max width to prevent content from stretching too wide */
    width: 100%; /* Make it responsive */
    text-align: center; /* Center text inside container */
}

.goal-text {
    color: white;
    font-size: 36px;
    font-weight: 800;
    margin: 20px 0; /* Add margin to space out from other elements */
}

.button {
    width: 200px;
    height: 50px;
    background-color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 800;
    line-height: 50px;
    cursor: pointer;
    margin-top: 20px; /* Add margin to separate from the text */
}

.button:hover {
    background-color: gray;
}

.logo-text {
    width: auto;
    height: auto;
    color: white;
    font-size: 40px;
    font-family: 'Inter';
    font-weight: 900;
    line-height: 48px;
    word-wrap: break-word;
    font-style: italic;
}

.profile-image {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 9999px;
}

.username {
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
}
