/* Base header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  position: relative; /* Important for dropdown positioning */
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure header is above content */
  transition: background-color 0.3s ease;
}

/* Ensure consistent style for all pages */
.header-black {
  background-color: black;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.header:hover {
  background-color: #111; /* Darker shade on hover */
}

/* Logo styling */
.logo h1 {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1.5px;
  color: white;
}

/* Navigation styling */
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem; /* Match Key Features font size to Settings */
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #007AFF;
}

/* Profile section */
.profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile:hover {
  transform: scale(1.05);
}

.profile-icon {
  border-radius: 50%;
  margin-right: 10px;
  transition: border 0.3s ease;
}

.profile:hover .profile-icon {
  border: 2px solid #007bff;
}

/* Dropdown Menu */
.profile-dropdown {
  position: absolute;
  top: 100%; /* Positioning right below the profile */
  right: 0;
  background-color: #222;
  border-radius: 10px;
  padding: 10px;
  z-index: 9999; /* Ensure dropdown is on top */
  animation: fadeIn 0.3s ease forwards;
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
}

.header-button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  transition: color 0.3s ease;
  text-align: left; /* Align text to the left */
}

.header-button:hover {
  color: #007bff;
}

/* Keyframes for dropdown animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.username {
  font-size: 1.2rem;
  color: white;
  margin-right: 10px;
}
