/* General layout */
.workout-selector-container {
    background-color: #111;
    border-radius: 15px;
    padding: 20px;
    color: white;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0, 123, 255, 0.5);
    transition: all 0.3s ease;
  }
  

  h3 {
    margin-bottom: 10px;
    color: #ffffff;
  }

  h2 {
    color: white;
    margin-bottom: 40px;
    text-align: center;
  }
  
  /* Combined Box */
  .combined-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  /* Section Styling */
  .workout-section, .muscle-section {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  
  /* Checkbox Label */
  .checkbox-label {
    cursor: pointer;
    background-color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .checkbox-label:hover {
    background-color: #00bfff;
  }
  
  .checkbox-label.selected {
    background-color: #007bff;
    color: white;
  }
  
  /* Generate Button */
  .generate-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .generate-button:hover {
    background-color: #005bb5;
  }
  